/* Project Page - Start
================================================== */
.project_section {
	.shape_dollar_1 {
		top: 74px;
		right: 70px;
		max-width: 72px;
	}
	.shape_nate_1 {
		top: 38%;
		right: -137px;
	}
	.shape_nate_2 {
		top: 20%;
		left: -340px;
	}
	.shape_nate_3 {
		right: -280px;
		bottom: -340px;
	}
	.shape_nate_4 {
		left: -280px;
		bottom: -370px;
	}
}
/* Project Page - End
================================================== */